<!DOCTYPE html>
<html>
<head>
<title>SIR - Trabalho Pratico 2</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="./styles.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<script  type="text/javascript" src="typeahead.min.js"></script>
<script type="text/javascript">
function yourFunction(){
	alert(document.getElementsByName("typeahead")[0].value);
    var action_src = "http://localhost:3000/send/" + document.getElementsByName("typeahead")[0].value;
    var your_form = document.getElementById('myForm');
    your_form.action = action_src;
}

function createObjectURL(object) {
    return (window.URL) ? window.URL.createObjectURL(object) : window.webkitURL.createObjectURL(object);
}

function revokeObjectURL(url) {
    return (window.URL) ? window.URL.revokeObjectURL(url) : window.webkitURL.revokeObjectURL(url);
}

function myUploadOnChangeFunction() {
    if(this.files.length) {
        for(var i in this.files) {
            if(this.files.hasOwnProperty(i)){
	            var src = createObjectURL(this.files[i]);
	            var image = new Image();
	            image.src = src;
	                $('#img').attr('src', src);
            }
        }
    }
}

$(document).ready(function(){
    $('input.typeahead').typeahead({
        name: 'typeahead',
        remote: 'http://localhost:3000/search?key=%QUERY',
        limit: 10
    });
    $('#file').change(myUploadOnChangeFunction);
});
</script>

<style>
    .table-wrapper {
        margin: 150px 100px 100px 100px;
    }

    .player-img {
        width: 40px;
        height: 40px;
    }

    .add-player-form {
        margin-top: 50px;
    }
    .bs-example{
	font-family: sans-serif;
	position: relative;
	margin: 100px;
	}
	.btn {
		width: 20%;
	}
	.typeahead, .tt-query, .tt-hint {
		border: 2px solid #CCCCCC;
		border-radius: 8px;
		font-size: 24px;
		height: 30px;
		line-height: 30px;
		outline: medium none;
		padding: 8px 12px;
		width: 396px;
	}
	.typeahead {
		background-color: #FFFFFF;
	}
	.typeahead:focus {
		border: 2px solid #0097CF;
	}
	.tt-query {
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	}
	.tt-hint {
		color: #999999;
	}
	.tt-dropdown-menu {
		background-color: #FFFFFF;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 8px;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		margin-top: 12px;
		padding: 8px 0;
		width: 422px;
	}
	.tt-suggestion {
		font-size: 24px;
		line-height: 24px;
		padding: 3px 20px;
	}
	.tt-suggestion.tt-is-under-cursor {
		background-color: #0097CF;
		color: #FFFFFF;
	}
	.tt-suggestion p {
		margin: 0;
	}
	#img{
		margin:auto;
		width: 300px;
		height: 250px;
		float:right;
	}
	a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

       color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}
	.navbar{
		background-color: white;
	}
</style>

<body>
	<div class="page-wrapper">
		<nav id="dashboardNavbar" class="navbar navbar-expand-sm fixed-top navbar-light">
		    <div class="container">
		        <a class="navbar-brand" href="/">Pic Share</a>
		        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
		            <span class="navbar-toggler-icon"></span>
		        </button>
		        <div class="collapse navbar-collapse" id="navbar1">
		            <ul class="navbar-nav">
		                <li class="nav-item">
		                    <a class="nav-link" href="/dashboard">Dashboard</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link" href="#">About</a>
		                </li>
		            </ul>
		            <ul class="navbar-nav ml-auto">
		                <li class="nav-item" id="profileButton">
		                    <a class="nav-link" href="#">Profile</a>
		                </li>
		            </ul>
		        </div>
		    </div>
		</nav>

</html>