<% include header.ejs %>

    <div class="table-wrapper">

        <h1>My Uploads</h1>

        <% if (files.length > 0) {%>
            <div class="grid-container" id="images">
                <% files.forEach((file, index) => { %>
                    <div class="grid-item">
                    <%console.log(file.image) %>
                        <img src="/assets/img/<%= file.image %>" class="gridImage" alt="" onclick="gridClick(this.src)">
                    </div>
                <% }) %>
            </div>
            
        <% } else { %>
            <p class="text-center">No new files.</p>
        <% } %>
    </div>

    <div id="modal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
    </div>

</body>
<script>

</script>
<script src="script.js"></script>
</html>

    
