<% include header.ejs %>

<form id="profileForm" method="post" action="/profile">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control" id="inputEmail4" placeholder="<%= files[0].username %>" disabled>
    </div>
    <div class="form-group col-md-6">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="inputPassword4" placeholder="<%= files[0].password %>">
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="email" class="form-control" id="inputAddress" placeholder="<%= files[0].email %>">
  </div>
  
  <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

<script src="script.js"></script>
</body>
</html>

    
